<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if test_id %}
        <title>Result {{ test_id}}</title>
    {% else %}
        <title>Results</title>
    {% endif %}
</head>
<body>
    <div>
        <div name="form" method="GET">
            <form>
                <label>Roll no</label>
                <input type="text" id="rollno" name="rollno" placeholder="1A">
                <label>Test ID</label>
                <input type="text" id="Test Id" name="test_id" placeholder="eg. ABCDEF">
                <input type="submit" value="submit">
            </form>
        </div>
        {% if student_results %}
            <label>You scored</label>
            {{ i["score"] }}
        {% endif%}
    </div>
</body>
<script>
    const testbox = document.getElementById("Test Id");
    const rollnobox = document.getElementById("rollno");
    const pram = new URLSearchParams(window.location.search);
    const test_id = pram.get("test_id");
    const rollno = pram.get("rollno")
    if (test_id != null){
        testbox.value = test_id;
    }
    if (rollno != null){
        rollnobox.value = rollno;
    }

</script>
</html>
